@font-face { font-family: lobster; src: url('Lobster 1.4.otf'); } 
@font-face { font-family: opensans; src: url('OpenSans-Light.ttf'); } 
@font-face { font-family: argh; src: url('Aaargh_0.ttf'); } 

span.topText{
  font-family: argh;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
img {
    position: relative;
    display: inline-block;
}
.icons{
  height: 50px;
  width: auto;
}
.iconshighlighted{
  height: 50px;
  width: auto;
  opacity: 0.8;
}
.nav {
  background-color: #ffb25f;
  height: 50px;
}
.nav a {
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  font-family: opensans;
  text-transform: uppercase;
  text-decoration: none;
}
#navhid a:hover {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 10px;
  font-family: opensans;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom-width: 5px;
  border-bottom-color: #5fb6a5;
  border-bottom-style: solid;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-color: #000000;
  height: auto;
}

.jumbotron .container {
  position: relative;
  top:0px;
}

.jumbotron h1 {
  color: #ffb25f;
  font-size: 100px;  
  font-family: lobster, sans-serif;
  text-shadow: 1px 1px;

}
.name{
  position: relative;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

#tooltip {
    background: #fff;
    font-family: opensans;
    border: 1px solid #ffb25f;
    padding: 1px 10px;
    border-radius: 5px;
}
body{
  font-family: opensans;
}
.blogs, .resumeOn{
  color: #fff;
  margin: 2px auto;
  padding: 15px;
  background-color: #5ab9a3;
}

.blogs, .resumeOn{
  color: #fff;
  margin: 2px auto;
  padding: 15px;
  background-color: #5ab9a3;
}
.resumeOn{
  -webkit-column-count:2; /* Chrome, Safari, Opera */
  -moz-column-count:2; /* Firefox */
  column-count:2;
}
.resume{
  color: #828281;
  margin: 2px auto;
  padding: 15px;
  background-color: #e5e4e4;
  margin: 0 auto;
}
.gallery{
  color: #fff;
  margin: 2px auto;
  padding: 15px;
  background-color: #d3d2d2;
  height: 400px;
}
.gallery h3{
  font-family: opensans;
}
.gallery img{
  width:100%;
  height: auto;
}

.blogshighlighted{
  color: #fff;
  margin: 2px auto;
  padding: 15px;
  background-color: #ffb25f;
}
.galleryhighlighted{
  color: #fff;
  margin: 2px auto;
  padding: 15px;
  background-color: #5fb6a5;
}
.navright{
  color: #fff;
  margin: 2px auto;
  padding: 15px;
  background-color: #ffb25f;
}
.navrighthighlighted{
  margin: 2px auto;
  padding: 15px;
  background-color: #ffb25f;
}
.boxA{

  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px;
  margin: 3% auto;
  width: auto;

}
.boxB{

  border-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px;
  margin: 3% auto;
  width: auto;

}
.boxC{

  background-color: #5ab9a3;
  border-radius: 18px;
  padding: 5px 5px;
  margin: 3% auto;
  width: auto;
  font-size: 30px;
}
.boxAhighlighted{
  background-color: #f7f7f7;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px;
  margin: 3% auto;
  width: 400px;

}
a.boxA{
  text-decoration: none;
  color:  #fff;
}

a.boxC{
  text-decoration: none;
  color:  #fff;
}

a.boxB{
  text-decoration: none;
  color:  #fff;
}
a.boxA:hover,a.boxB:hover{
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px;
  margin: 3% auto;
  width: 400px;
  color: #ffb25f;
}

a.boxC:hover{
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  padding: 5px 5px;
  margin: 3% auto;
  width: 400px;
  color: #5ab9a3;
}
.orangeShade-one{
  background-color: #ff9a2d;
  height: 100px;
  width: auto;
}
.orangeShade-two{
  background-color: #fdb261;
  height: 100px;
  width: auto;
}
.orangeShade-three{
  background-color: #fdc68b;
  height: 100px;
  width: auto;
}
.orangeShade-four{
  background-color: #fbd3a7;
  height: 100px;
  width: auto;
}
.orangeShade-five{
  background-color: #fce3c8;
  height: 100px;
  width: auto;
}
.orangeShade-six{
  background-color: #fef5eb;
  height: 100px;
  width: auto;
}
.orangeShade-seven{
  background-color: #fdfaf7;
  height: 10px;
  width: auto;
}
.blog{
  background: #5ab9a3;
}
h3{
  font-size: 30px;
}
.blogFoot{
  background-color: #016678;
  height: auto;
}
   .blogo img {
      width: 160px; 
      height: auto;
    }
@media only screen and (min-width: 150px) and (max-width:600px){

    #navhid{
      display: none;
    }
}
@media only screen and (min-width: 150px) and (max-width:500px){

    .name{
      font-size: 60px;
    }
    span.topText{
      font-family: argh;
      color: #fff;
      font-size: 8px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
   .blogo img {
      position: relative;
      width: 80px;
      height: auto;
    }
    .boxC{

      background-color: #5ab9a3;
      border-radius: 18px;
      padding: 5px 5px;
      margin: 3% auto;
      width: auto;
      font-size: 16px;
    }
}